html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #696969;
  color: #fff;
  text-align: center;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin: 10px;
}
.btn:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.btn:active {
  position: relative;
  top: 1px;
}

.dropdown {
  cursor: pointer;
  outline: 0;
  color: #00ffff;
  font-size: 18px;
  padding: 10px 10px;
  min-width: 160px;
  border-radius: 25px;
  border: 1px solid #0000ff;
  background-color: #000000;
}
.dropdown:hover,
.dropdown:focus {
  background-color: #000000;
  color: #00ff00;
}

.text {
  font-family: Arial;
  font-size: 18px;
  display: inline-block;
  margin-right: 6px;
}